

 .forcast{
     justify-content: space-around;
 }
 .containerElement{
     padding: 20px;
     border:2px solid black;
 }
 .search{
     font-size: 10px;
 }
body{
    background: #e5e5e5 !important;
}
#day0,#day1,#day2,#day3,#day4,#day5{
    background: #e9edc9;
    display: flex;
    flex-direction: column;
    border:2px solid gray;
    justify-content: space-between;

}